<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Node.js Web Site</title>
</head>
<header>
<div class="dropdown">
    <button class="dropbtn">🌍</button>
    <div class="dropdown-content">
      <a href="/"><i class="fas fa-home">Home</i></a>
      <a href="/contact"><i class="fa fa-address-book" aria-hidden="true">Contact</i>
      </a>
     
    </div>
  </div>
</header>
<body>
    <img class="contact-image" src="img/244353405_100822912380632_469319374832600049_n.jpg" alt="CreatorPhoto">
    <div class="contact-text">
        <p>Hello ! My name is Stanislav, I am 16 years old. I live in the city of Burgas,
             I study at PGEE "Konstantin Fotinov", specialty Applied Programmer ". 
             My hobby is to program some small projects, too, and to read programming books.
              My favorite programming languages are JavaScript, PHP, Python and a bit of Csharp for the Sql and Html structure. 
              I program in the programming environments of Microsoft Visual Studio Code and Android Studio for Mysql Workbench databases.</p>
    </div>
</body>
<br>
<div class="footer-basic">
<footer >
    
    <div class="social"><a href="http://instagram.com/st_d05/">
        <i class="fa fa-instagram"></i></a><a href="http://github.com/stdimitrov05/">
            <i class="fa fa-github"></i></a></div>
 
    </ul>
    <p class="copyright">Stdimitrov05 © 2021</p>
</footer>
<br>
</div>

</html>